<div class="lista-usuarios">
  <h3>Usuarios</h3>
  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Title</th>
      <th>User Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(users, function(user) { %>
      <tr data-id="<%= user.id %>" data-model="user">
        <% if (user.online) { %>
          <td><img src="/images/icon-online.png"/></td>
        <% } else { %>
          <td><img src="/images/icon-offline.png"/></td>
        <% } %>
        <td><%= user.firstName %></td>
        <td><%= user.title %></td>
        <td><%= user.userName %></td>
        <td><%= user.emailAddress %></td>
        <% if(user.admin) { %>
          <td><img src="/images/admin.png"/></td>
        <% } else { %>
          <td><img src="/images/user.png"/></td>
          <% } %>
        <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Detalles</a></td>
        <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Actualizar</a></td>
        <td>
          <form action="/user/destroy/<%= user.id %>" method="POST">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" class="btn btn-sm btn-danger" value="Retirar"/>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          </form>
        </td>
      </tr>
    <% }) %>

  </table>
  <a class="btn btn-medium btn-primary" href="/user/new"> Nuevo Usuario >></a>

</div>
