<h1><%= user.firstName %></h1>
<h3><%= user.title %></h3>
<hr/>
<h3>Username: <%= user.userName %> &nbsp;&amp;&nbsp; contact: <%= user.emailAddress %></h3>

<a class="btn btn-medium btn-default" href="/user"><< Volver </a> <a class="btn btn-medium btn-warning" href="/user/edit/<%= user.id %>"> Editar >></a>

